.description {
  display: grid;
  justify-content: center;
  justify-self: center;
  width: 98.7%;
  height: 79%;
  border: none;
  font-size: large;
}

.description:hover, .description:active, .description:focus {
  border: none;

}